<div class="row">
  <div>
    <%= form_for @course, url: supervisor_course_assign_trainees_path do |f| %>
      <h3 class="center"><%= t "application.string_constant.update_user_course" %></h3>
      <ul>
        <% @users.each do |user| %>
          <li>
          <%= f.check_box :user_ids,
              {name: t("application.string_constant.name_checkbox_course_users"),
              checked: @course.users.include?(user)}, user.id, nil %>
            <%= "##{user.id} #{user.name}" %>
          </li>
        <% end %>
      </ul>
      <div class="actions">
        <%= f.submit t("application.button.submit"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
