<div class="paddingtop">
  <h3 class="center"><%= t "application.string_constant.your_courses" %></h3>
  <table class="table table-striped">
    <tr>
      <th><%= t "application.string_constant.title" %></th>
      <th><%= t "application.string_constant.status" %></th>
      <th><%= t "application.string_constant.start_date" %></th>
      <th><%= t "application.string_constant.end_date" %></th>
      <th><%= t "application.string_constant.progress" %></th>
    </tr>
    <% @user.try(:courses).each do |course| %>
      <tr>
        <td><%= link_to course.title, course_path(course) %></td>
        <td><%= course.status %></td>
        <td><%= course.start_time %></td>
        <td><%= course.end_time %></td>
        <td>
          <%= @user.course_user(course).progress %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
