<%= form_for @user do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form">
    <div class="field margintop">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field margintop">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>

    <% if @user.supervisor? %>
      <div class="field margintop">
        <%= f.label :role %><br>
        <%= select :user, :role, User.roles.keys.to_a %>
      </div>
    <% end %>

    <div class="action margintop">
      <%= f.submit t("application.button.submit"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
