<%= form_for @user do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form">
    <div>
      <% if @user.avatar? %>
        <%= image_tag(@user.avatar_url :avatar_profile) %>
      <% else %>
        <%= cl_image_tag("http://res.cloudinary.com/demo/image/upload/w_100,h_100,c_thumb,g_face,r_20,d_avatar.png/non_existing_id.png",
          width: 200, height: 200, crop: :thumb, gravity: :face, radius: 5) %>
      <% end %>
      <div class="margintop">
        <%= f.file_field :avatar %>
      </div>
    </div>

    <div class="form-group form-inline margintop">
      <%= f.label :name, class: "label-new-course" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group form-inline">
      <%= f.label :email, class: "label-new-course" %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <% if @user.supervisor? %>
      <div class="field margintop">
        <%= f.label :role %><br>
        <%= select :user, :role, User.roles.keys.to_a %>
      </div>
    <% end %>

    <div class="action margintop">
      <%= f.submit t("application.button.submit"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
