<h1><%= t "welcome" %></h1>
<h3><%= t "your_profile" %></h3>
<p><strong><%= t "name" %>:</strong> <%= @user.name %></p>
<p><strong><%= t "email" %>:</strong> <%= @user.email %></p>
<p><strong><%= t "role" %>:</strong> <%= @user.role %></p>
<%= render "courses_of_user" %>
<div class="clear-both">
  <hr>
  <%= render "tasks_of_user" %>
<div>
