<h1><%= t "welcome" %></h1>
<h3><%= t "your_profile" %></h3>
<div class="avatar-profile">
  <% if @user.avatar_url %>
    <%= image_tag(@user.avatar_url :avatar_profile) %>
  <% else %>
    <%= cl_image_tag("http://res.cloudinary.com/demo/image/upload/w_100,h_100,c_thumb,g_face,r_20,d_avatar.png/non_existing_id.png",
    width: 200, height: 200, crop: :thumb, gravity: :face, radius: 5) %>
  <% end %>
</div>
<div class="user-info">
  <p><span class="label-profiles"><%= t "name" %>:</span> <%= @user.name %></p>
  <p><span class="label-profiles"><%= t "email" %>:</span> <%= @user.email %></p>
  <p><span class="label-profiles"><%= t "role" %>:</span> <%= @user.role %></p>
</div>
<div class="clear-both paddingtop">
  <%= render "courses_of_user" %>
</div>
