<% provide :title, @subject.title %>
<div id="rcorners2" class="margintop">
  <h1><%= @subject.title %></h1>
  <p><%= @subject.description %></p>
  <p><%= t "status" %><%= @user_subject.status if @user_subject %></p>
  <% unless @user_subject.finished? %>
    <%= form_for @user_subject do |f| %>
      <%= f.hidden_field :status, value: t("application.status.finished") %>
      <%= f.submit t("application.link.finish_subject"), class: "btn btn-primary" %>
    <% end %>
  <% end %>
  <br>
  <%= progress_bar(@user_subject.progress, color: "green", rounded: true, tiny: :true, class: "progress-bar") %>
</div>
<%= render "form_for_user_subject" %>
