<% provide :title, @subject.title %>
<div id="rcorners2" class="margintop">
  <h1><%= @subject.title %></h1>
  <p><%= @subject.description %></p>
</div>
<% unless @subject.tasks.empty? %>
  <div id="rcorners3" class="margintop task-form">
    <h2><%= t "tasks_list" %></h2>
    <table class="table table-hover">
      <tr>
        <th class="col-sm-1 text-center"><%= t "application.task_table.id" %></th>
        <th class="col-sm-5 text-center"><%= t "application.task_table.title" %></th>
        <th class="col-sm-2 text-center"></th>
      </tr>
      <% @subject.tasks.each do |task| %>
        <tr>
          <td class="col-sm-1 text-center">
            <%= link_to task.id,
              supervisor_subject_task_path(@subject, task) %>
          </td>
          <td class="col-sm-5 text-center">
            <%= link_to task.title,
              supervisor_subject_task_path(@subject, task) %>
          </td>
          <td class="col-sm-2 text-center">
            <%= link_to t("application.button.delete_task"),
              supervisor_subject_task_path(@subject, task),
              class: "btn btn-danger", method: :delete,
              data: {confirm: t("application.message.delete_confirm")} %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<%= link_to t("application.button.edit"),
  edit_supervisor_subject_path(@subject), class: "btn btn-primary margintop" %>
<%= link_to t("application.button.back"),
  supervisor_subjects_path, class: "btn btn-default margintop" %>
