<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("application.title.base_title"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("application.title.home"), root_path %></li>
        <li><%= link_to t("application.title.about"), about_path %></li>
        <% if user_signed_in? %>
          <li>
            <div class="welcome">
              <span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.name %> <span class="caret"></span>
              </span>
              <ul class="dropdown-menu">
                <li>
                  <a><%= current_user.email %></a>
                </li>
                <li>
                  <%= link_to t("header.edit_profile"),
                    edit_user_path(current_user.id), class: "navbar-link" %>
                </li>
                <li>
                  <%= link_to t("header.view_profile"),
                    user_path(current_user), class: "navbar-link" %>
                </li>
                <li role="separator" class="divider"></li>
                <% if current_user.supervisor? %>
                  <li>
                    <%= link_to t("application.string_constant.course_manage"),
                      supervisor_courses_path, class: "navbar-link" %>
                  </li>
                  <li>
                    <%= link_to t("application.string_constant.subject_manage"),
                      supervisor_subjects_path, class: "navbar-link" %>
                  </li>
                <% end %>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to t("header.logout"),
                    destroy_user_session_path, method: :delete, class: "navbar-link"  %>
                </li>
              </ul>
            </div>
          </li>
        <% else %>
          <%= link_to t("header.login"), user_session_path, class: "navbar-link"  %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
